.seo {
    
    padding: 76px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 40px;

    background: linear-gradient(107.08deg, #190D2E 0.54%, #020103 99.46%);


    .main {

        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        gap: 60px;

        .arr {

            width: 314px;
            height: 68px;

            .a1 {
                color: #FFFFFF;
            }

            .a2 {
                color: #FFFFFF;
            }
        }
    }

}